<h1 mat-dialog-title>{{data.mode.toUpperCase()}} User</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="data.user.name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Surname" [(ngModel)]="data.user.surname">
  </mat-form-field>

  <mat-form-field>
    <input matInput  placeholder="Company" [(ngModel)]="data.user.company">
  </mat-form-field>

  <mat-form-field>
    <input matInput  placeholder="Job Title" [(ngModel)]="data.user.jobTitle">
  </mat-form-field>

  <mat-form-field>
    <input type="number" matInput  placeholder="Mobile Phone" [(ngModel)]="data.user.mobilePhone">
  </mat-form-field>

  <mat-form-field>
    <input matInput  placeholder="Email" [(ngModel)]="data.user.email">
  </mat-form-field>
</div>
<div mat-dialog-actions *ngIf="data.mode === 'edit'">
  <button mat-button class="button-color" [disabled]="!hasPrevious" (click)="getPrevious()">Previous</button>
  <button mat-button class="button-color" [disabled]="!hasNext" (click)="getNext()">Next</button>
  <button mat-button (click)="editUser()" cdkFocusInitial>Update</button>
</div>

<div mat-dialog-actions *ngIf="data.mode === 'add'">
  <button mat-raised-button (click)="addUser()" cdkFocusInitial>Add User</button>
</div>