<div class="mat-elevation-z8">

  <button mat-raised-button class="add-user-button" (click)="addUser()">Add User</button>
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef> Surname </th>
      <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef> Company </th>
      <td mat-cell *matCellDef="let element"> {{element.company}} </td>
    </ng-container>

    <ng-container matColumnDef="jobTitle">
      <th mat-header-cell *matHeaderCellDef> JobTitle </th>
      <td mat-cell *matCellDef="let element"> {{element.jobTitle}} </td>
    </ng-container>

    <ng-container matColumnDef="mobilePhone">
      <th mat-header-cell *matHeaderCellDef> Mobile Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.mobilePhone}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element;let i = index;"> 
        <button mat-raised-button color="accent" title="Details" (click)="showUserDetails(element,i)"><i class="fa fa-info-circle"></i></button>
        <button mat-raised-button color="warn" title="Delete user" (click)="deleteUser(element,i)"><i class="fa fa-trash"></i></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>